body{
    background-color: rgb(248, 3, 126);
}
.div1{
    height: 360px;
    width: 250px;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 5px 5px 10px 2px black;
    position: absolute;
    z-index: -1;
    transform: rotate(-15deg);
}
.div2{
    height: 420px;
    width: 250px;
    background-color:white;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 5px 5px 10px 2px black;
    position: absolute;
    transform: rotate(15deg);
    margin-left: 15%;
    top:90px;
}
h4{
    padding-top: 200px;
    padding-left: 15px;
}
.con{
    margin: 0 auto;
    width: 35%;
    margin-top: 10%;
}
h3{
    
    padding: 10px;
}
.he{
    padding-top: 230px;
}
.icon{
    padding-right: 10px;
    color: rgb(248, 3, 126);
}
hr{
    border: 1px solid black;
}