  @import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Cookie&family=Itim&family=Kavoon&family=Merienda:wght@300&family=Rubik+Gemstones&family=Sacramento&family=Special+Elite&display=swap');
  
.img1{
    width:100%;
    height:325px;
}
.p1{
     position: absolute;
     top: 1pt;
     left:25%;
     font-family: fantasy;
     font-size:30px;
     letter-spacing:40px;
}
.div1{
    width:50%;
    height:300px;
    float:left;
    /* background-color:rgb(170, 73, 73); */
}
.p2{
    font-size:40px;
    color:rgb(19, 163, 67)
}
.p3{
    font-size:30px;
    color:brown;
    font-family: 'Itim', cursive;
}
.img2{
    width:50%;
    height:400px;
}
.img3{
    width:100%;
    height:250px;
}
.img4{
    width:100%;
    height:115px;
}
.div3{
    float:left;
}
.img5{
    width:25%;
    height:250px;
}

.p4{
    font-size:35px;
    font-family: 'Itim', cursive; 
    width:30%;
    float:left;
    margin:10px;
    text-align:center;
}
.para1{
    color:orange;
}
.para2{
    color:white;
    background-color:rgb(185, 185, 243);
}
.para3{
    color:green;
}
