.bg-container{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    background-repeat: no-repeat;
    height:100vh;
}
.div1{
    background-color: #f6c56e;
}
button{
    background-color:#ffffff;
    font-family:Roboto;
    height:30px;
    width:90px;
    border:none;
    border-radius:10px;
}
h1{
    font-family: Bree Serif;
}
p{
    font-family:Roboto;
    font-size: 20px;
}
div{
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    padding:10px;
}